In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

## Criando Novas Variáveis

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Curso Pandas/datasets/aluguel_residencial_filtrado.csv', sep=';')

In [4]:
data.head(10)

                 Tipo               Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete           Copacabana        1  ...   1700.0       500.0  60.0
1                Casa      Jardim Botânico        2  ...   7000.0         0.0   0.0
2         Apartamento               Centro        1  ...    800.0       390.0  20.0
3         Apartamento         Higienópolis        1  ...    800.0       230.0   0.0
4         Apartamento             Cachambi        2  ...   1300.0       301.0  17.0
5  Casa de Condomínio      Barra da Tijuca        5  ...  22000.0         0.0   0.0
6  Casa de Condomínio                Ramos        2  ...   1000.0         0.0   0.0
7         Apartamento               Grajaú        2  ...   1500.0       642.0  74.0
8         Apartamento  Lins de Vasconcelos        3  ...   1500.0       455.0  14.0
9         Apartamento           Copacabana        1  ...   2000.0       561.0  50.0

[10 rows x 9 columns]

In [0]:
data['Valor Bruto'] = data['Valor'] + data['Condominio']+ data['IPTU']

In [6]:
data.head(10)

                 Tipo               Bairro  ...  IPTU  Valor Bruto
0           Quitinete           Copacabana  ...  60.0       2260.0
1                Casa      Jardim Botânico  ...   0.0       7000.0
2         Apartamento               Centro  ...  20.0       1210.0
3         Apartamento         Higienópolis  ...   0.0       1030.0
4         Apartamento             Cachambi  ...  17.0       1618.0
5  Casa de Condomínio      Barra da Tijuca  ...   0.0      22000.0
6  Casa de Condomínio                Ramos  ...   0.0       1000.0
7         Apartamento               Grajaú  ...  74.0       2216.0
8         Apartamento  Lins de Vasconcelos  ...  14.0       1969.0
9         Apartamento           Copacabana  ...  50.0       2611.0

[10 rows x 10 columns]

In [0]:
data['Valor m2'] = data['Valor']/data['Area']

In [16]:
data.head(10)

                 Tipo               Bairro  ...   Valor m2  Valor m2 Bruto
0           Quitinete           Copacabana  ...  42.500000           56.50
1                Casa      Jardim Botânico  ...  70.000000           70.00
2         Apartamento               Centro  ...  53.333333           80.67
3         Apartamento         Higienópolis  ...  16.666667           21.46
4         Apartamento             Cachambi  ...  26.000000           32.36
5  Casa de Condomínio      Barra da Tijuca  ...  29.333333           29.33
6  Casa de Condomínio                Ramos  ...  15.384615           15.38
7         Apartamento               Grajaú  ...  21.428571           31.66
8         Apartamento  Lins de Vasconcelos  ...  16.666667           21.88
9         Apartamento           Copacabana  ...  50.000000           65.28

[10 rows x 12 columns]

In [0]:
data['Valor m2'] = data['Valor m2'].round(2)

In [18]:
data.head(10)

                 Tipo               Bairro  ...  Valor m2  Valor m2 Bruto
0           Quitinete           Copacabana  ...     42.50           56.50
1                Casa      Jardim Botânico  ...     70.00           70.00
2         Apartamento               Centro  ...     53.33           80.67
3         Apartamento         Higienópolis  ...     16.67           21.46
4         Apartamento             Cachambi  ...     26.00           32.36
5  Casa de Condomínio      Barra da Tijuca  ...     29.33           29.33
6  Casa de Condomínio                Ramos  ...     15.38           15.38
7         Apartamento               Grajaú  ...     21.43           31.66
8         Apartamento  Lins de Vasconcelos  ...     16.67           21.88
9         Apartamento           Copacabana  ...     50.00           65.28

[10 rows x 12 columns]

In [0]:
data['Valor m2 Bruto'] = (data['Valor Bruto']/data['Area']).round(2)

In [20]:
data.head()

          Tipo           Bairro  Quartos  ...  Valor Bruto  Valor m2  Valor m2 Bruto
0    Quitinete       Copacabana        1  ...       2260.0     42.50           56.50
1         Casa  Jardim Botânico        2  ...       7000.0     70.00           70.00
2  Apartamento           Centro        1  ...       1210.0     53.33           80.67
3  Apartamento     Higienópolis        1  ...       1030.0     16.67           21.46
4  Apartamento         Cachambi        2  ...       1618.0     26.00           32.36

[5 rows x 12 columns]

In [0]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [0]:
data['Tipo Agregado'] = data['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [26]:
data.head()

          Tipo           Bairro  ...  Valor m2 Bruto  Tipo Agregado
0    Quitinete       Copacabana  ...           56.50    Apartamento
1         Casa  Jardim Botânico  ...           70.00           Casa
2  Apartamento           Centro  ...           80.67    Apartamento
3  Apartamento     Higienópolis  ...           21.46    Apartamento
4  Apartamento         Cachambi  ...           32.36    Apartamento

[5 rows x 13 columns]

## Excluindo Variáveis

In [0]:
dados_aux = pd.DataFrame(data[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor m2 Bruto']])

In [28]:
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto  Valor m2 Bruto
0   Apartamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2   Apartamento     53.33       1210.0           80.67
3   Apartamento     16.67       1030.0           21.46
4   Apartamento     26.00       1618.0           32.36
5          Casa     29.33      22000.0           29.33
6          Casa     15.38       1000.0           15.38
7   Apartamento     21.43       2216.0           31.66
8   Apartamento     16.67       1969.0           21.88
9   Apartamento     50.00       2611.0           65.28

In [0]:
del dados_aux['Valor Bruto']

In [30]:
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor m2 Bruto
0   Apartamento     42.50           56.50
1          Casa     70.00           70.00
2   Apartamento     53.33           80.67
3   Apartamento     16.67           21.46
4   Apartamento     26.00           32.36
5          Casa     29.33           29.33
6          Casa     15.38           15.38
7   Apartamento     21.43           31.66
8   Apartamento     16.67           21.88
9   Apartamento     50.00           65.28

In [31]:
dados_aux.pop('Valor m2 Bruto')

0         56.50
1         70.00
2         80.67
3         21.46
4         32.36
5         29.33
6         15.38
7         31.66
8         21.88
9         65.28
10        85.22
11        65.03
12        17.39
13        23.67
14        36.36
15        24.89
16        21.88
17        24.56
18        34.62
19        76.50
20        32.23
21        35.43
22        30.00
23        42.63
24        33.99
25        42.78
26        28.08
27        50.18
28        64.19
29        28.88
          ...
21796     48.16
21797     50.14
21798     45.61
21799     23.03
21800     45.56
21801     23.00
21802     18.92
21803     25.80
21804     31.75
21805     33.78
21806     27.66
21807     40.64
21808    125.78
21809     69.86
21810     49.40
21811     47.15
21812     34.33
21813     57.86
21814     26.59
21815     90.27
21816     53.24
21817    113.33
21818     49.46
21819     29.81
21820     42.32
21821     20.54
21822     43.52
21823     33.85
21824     40.54
21825     53.71
Name: Valor m2 Bruto, Length: 21826, dtype: float64

In [33]:
dados_aux.head()

  Tipo Agregado  Valor m2
0   Apartamento     42.50
1          Casa     70.00
2   Apartamento     53.33
3   Apartamento     16.67
4   Apartamento     26.00

In [0]:
data.drop(['Valor Bruto','Valor m2 Bruto'], axis = 1, inplace=True)

In [36]:
data.head(5)

          Tipo           Bairro  Quartos  ...  IPTU  Valor m2  Tipo Agregado
0    Quitinete       Copacabana        1  ...  60.0     42.50    Apartamento
1         Casa  Jardim Botânico        2  ...   0.0     70.00           Casa
2  Apartamento           Centro        1  ...  20.0     53.33    Apartamento
3  Apartamento     Higienópolis        1  ...   0.0     16.67    Apartamento
4  Apartamento         Cachambi        2  ...  17.0     26.00    Apartamento

[5 rows x 11 columns]