In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

# Relatório de Análise IV

## Seleções e frequências

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Curso Pandas/datasets/aluguel_residencial.csv', sep=';')

In [5]:
data.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]


    Selecione somente os imóveis classificados com tipo 'Apartamento'.

In [7]:
selecao = data['Tipo'] == 'Apartamento'
n1 = data[selecao].shape[0]
n1

19532

    Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [10]:
selecao = (data['Tipo'] == 'Casa') |  (data['Tipo'] == 'Casa de Condomínio') | (data['Tipo'] == 'Casa de Vila')
n2 = data[selecao].shape[0]
n2

2212


    Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [22]:
selecao = (data['Area'] <= 100) & (data['Area'] >= 60)
n3 = data[selecao].shape[0]
n3

8719


    Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [23]:
selecao = (data['Quartos'] >= 4) & (data['Valor'] < 2000.0)
n4 = data[selecao].shape[0]
n4

41

In [24]:
print("Selecione somente os imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(n2))
print("Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> {}".format(n3))
print("Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> {}".format(n4))

Selecione somente os imóveis classificados com tipo 'Apartamento' -> 19532
Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 2212
Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites. -> 8719
Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00. -> 41

In [0]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [28]:
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False